
.file-upload {
  margin-bottom: 20px;
  text-align: left;
}

.drop-box {
  width: 210px;
  height: 100px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s;
  margin-left:-110px;
  margin-top:10px;
}

.drop-box:hover {
  border-color: #999;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
}

.upload-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.upload-text {
  font-size: 14px;
  color: #555;
}

.preview-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 00px;
  padding: 10px;
  justify-content: center;
}

.file-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}

.preview-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pdf-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-name {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row1 {
  display: flex;
  gap: 110px;
  justify-content: space-between;
}

.flabel {
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
  display: inline-block;
}